.button {
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase; 
    letter-spacing: 1px;
    transition: all 150ms linear;
    
    &:hover {
        border: 1px solid rgba(blue, .05);
        box-shadow: 1px 1px 2px rgba(red, .2);
        text-decoration: none;
        transition: all 250ms linear;
      }
}

.primary {
    color: #fff;
    background: lighten(#4285f4, 3%);  
    border: 1px solid darken(#4285f4, 2%);
    box-shadow: 0px 2px 0 darken(#4285f4, 5%), 2px 4px 6px darken(#4285f4, 2%);

    &:hover {
        background: darken(#4285f4, 1.5%);
        color: lighten(#4285f4, 18%);
        text-shadow: -1px -1px 0 darken(#4285f4, 9.5%); 
    }
}

.medium {
    font-size: 14px;
    font-weight: 700;
    padding: 0.3em 3em;
    line-height: 30px; 
}
